on late-init
    start surfaceflinger
    start inputflinger

service webosd /system/bin/webosd
    class main
    user root
    group root graphics input inet wakelock
    seclabel u:r:su:s0
    setenv CAPSULE_BASE /data/local/tmp/capsule
    setenv BINDER_DEVICE /data/local/tmp/capsule/dev/binder
    setenv HWBINDER_DEVICE /data/local/tmp/capsule/dev/hwbinder
    setenv VNDBINDER_DEVICE /data/local/tmp/capsule/dev/vndbinder
    setenv HOST_BINDER_DEVICE /dev/binder
    setenv HOST_HWBINDER_DEVICE /dev/hwbinder
    setenv HOST_VNDBINDER_DEVICE /dev/vndbinder
    disabled

on property:sys.boot_completed=1
    # optional: keep it lean
    stop zygote
    stop system_server
    start webosd
