init
init.o
initramfs.cpio.gz
*.cache
bzImage
bzImage-*
vmlinuz*
.helix
arch-kernel.tar.zst
compositor-rs
drm_rect
drm_rect.*
ld-linux-*.so.*
ld-musl-*.so.*
libc.so.*
libdrm.so.*
libpthread.so.*
libm.so.*
load_modules
kernel-modules/
out/
qemu-kernel
rootfs/compositor-rs
rootfs/test-client
test-client
test_child
test-input
weston-rootfs
